* {
    margin: 0;
    padding: 0;
}

html {
    background-color: grey;
}

body {
    margin: 0;
    padding: 0;
}

table {
    background-color: aliceblue;
    border-collapse: collapse;
    border-spacing: 0px;
    margin: 0;
    padding: 0;
}

td {
    margin: 0;
    padding: 0;
}

tr {
    margin: 0;
    padding: 0;
}

#tablebox tr td {
    vertical-align: top;
    font-size: 15pt;
    color: grey;
    width: 150px;
    height: 25px;
    margin: 0px;
}

#tableheure tr td {
    vertical-align: top;
    font-size: 15pt;
    color: grey;
    height: 25px;
    margin: 0px;
}

.heurepleine {
    border: 1px grey solid;
    border-left: none;
    border-right: none;
    border-top: none;
}

#calendar {
    display: flex;
    flex-direction: row;
}

#aside1 {
    width: 50%;
    background-color: lightgray;
}

main {
    display: flex;
}

#azerty {
    display: flex;
    flex-direction: column;
}

#flexjours {
    display: flex;
    flex-direction: column;
}

#flexheure {
    display: flex;
    flex-direction: row;
}

#jours {
    color: grey;
}

#jours tr td {
    width: 150px;
    text-align: center;
}

.activite1 {
    width: 25%;
    height: 100%;
    background-color: blue;
}

.activite2 {
    width: 25%;
    height: 100%;
    background-color: green;
}

.activite3 {
    width: 25%;
    height: 100%;
    background-color: red;
}

.blank {
    width: 25%;
    height: 100%;
    background-color: transparent;
}

.flexiflox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.repas {
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#calendarmonth {
    background-color: rgb(68, 68, 68);
    text-align: center;
    border-collapse: collapse;
}

#calendarmonth td {
    width: 3rem;
    height: 3rem;
    border-collapse: collapse;
}

.minicalendarday {
    text-transform: capitalize;
    color: whitesmoke;
}

.currentmonth {
    color: whitesmoke;
}

.currentmonth:hover {
    outline: 2px dotted whitesmoke;
}

.notcurrentmonth {
    color: black;
}

.notcurrentmonth:hover {
    outline: 2px dotted whitesmoke;
}

.currentday {
    background-color: blue;
    color: white;
    outline: 2px solid black;
    outline-offset: -6px;
}

#aside1 {
    display: flex;
    justify-content: center;
}

#alignementaside1 {
    width: 90%;
    height: 95%;
    background-color: bisque;
    margin-top: auto;
    margin-bottom: auto;
}

#login {
    height: 15%;
    background-color: blueviolet;
}